<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: bisque; color:black">
        <table class="table table-striped">
            <thead>
                <tr class="table-info">
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">description</th>
                    <th scope="col">code</th>
                    <th scope="col">price</th>
                    <th scope="col">status</th>
                    <th scope="col">stock</th>
                    <th scope="col">category</th>
                </tr>
            </thead>
            <tbody>
                {{#each productosGuardados}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <th scope="row">{{this.title}}</th>
                    <th scope="row">{{this.description}}</th>
                    <th scope="row">{{this.code}}</th>
                    <th scope="row">{{this.price}}</th>
                    <th scope="row">{{this.status}}</th>
                    <th scope="row">{{this.stock}}</th>
                    <th scope="row">{{this.category}}</th>
                </tr>
                {{/each}}    
            </tbody>
        </table>
         
    </div>
</div>
